{{> header/header}}

<div class="content-container center-align">

    <div class="content-wrapper-svc">
        <h3>{{#unless isHandy}}Customer {{/unless}}Schedule A Service</h3>
        <div class="svc-dropwrapper">
            <select name="Services" id="servicesDropdown">
                <option value="none">Select the service you need</option>
                {{#each servicemenus}}
                <option value={{id}}>{{title}} will take {{manHour}} hours</option>
                {{/each}}
            </select>
        </div>

        <div class="cal-wrapper">
            <form>
                <input type="date" min="2020-01" id="serviceCalendar">
                <input type="submit" value="Select a Date" id="calendarSubmit">
            </form>
        </div>

<div class="container">
    <div class="content-wrapper-svc" id = "availability">
    </div>
</div>
       {{!-- <table id="timeSlotForm">
            <th>Start time available</th>
            <th>Estimated end time</th>
            <th>Number of workers required</th>
            The code below had been on its own page (service-selection)
            handlebars won't wait for this information. This need to be handled in the js file.
            {{#each timeSlots}}
            <tr id = {{timeStart}}>
            <td> {{timeStart}} </td>
            <td> {{timeEnd}} </td>
            <td> {{numberOfHandyman}} </td>
            </tr>

            {{/each}}

        <input type="submit" value="Select this time slot" id="timeSubmit">
        </table> --}}
    </div>
</div>
<script>

</script>